.note{
  border:1px solid #ebebeb;
	border-radius: 5px;
	margin: 7px;
	padding: 2px;
}
.note:hover{
	box-shadow: 0 0 3px #cccccc;
  cursor: pointer;
}

.title{
	width:100%;
	text-align: left;
}

p {
  text-align: left;
	font-size: 1.1em;
}
